.questions-container {
    .table-container {
        height:calc(100vh - 14rem);
        .options-text {
            display: list-item;
            list-style: upper-latin;
            button {
                height: 1rem;
                width: 1rem;
                span {
                    font-size: 0.65rem;
                }
            }
        }

        .answers-text {
            display: list-item;
            list-style: auto;
        }
        .answer-text-single {
            white-space: normal;
            width: 50vw;
            display: flex;
        }
        tr {
            td, th {
                padding: 0.25rem 0.5rem;
            }
            th {
                padding: 0.5rem;
            }
        }
    }
}