<div class="grid profile-container">
    <div class="col-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="card">
            <h5>My Profile</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="name" class="block">Name</label>
                    <input id="name" formControlName="name" type="text" placeholder="Name" pInputText
                        class="w-full p-3">
                    <div *ngIf="getNameError">
                        <small *ngIf="form.get('name')?.errors?.['required']" class="p-error">Name is required.</small>
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="email" class="block">Email</label>
                    <input id="email" type="text" formControlName="email" placeholder="Email address" pInputText class="w-full p-3">
                </div>
                <ng-container formGroupName="education">
                    <div class="field col-12 md:col-6">
                        <label for="board" class="block">Education Board</label>
                        <p-dropdown styleClass="w-full p-2" [options]="boards" formControlName="board"
                            placeholder="Select the board" optionLabel="label" optionValue="value"></p-dropdown>
                        <div *ngIf="getBoardError">
                            <small *ngIf="form.get('board')?.errors?.['required']" class="p-error">Education board is
                                required.</small>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="medium" class="block">Medium</label>
                        <p-dropdown styleClass="w-full p-2" [options]="mediums" formControlName="medium"
                            placeholder="Select the medium" optionLabel="label" optionValue="value"></p-dropdown>
                        <div *ngIf="getMediumError">
                            <small *ngIf="form.get('medium')?.errors?.['required']" class="p-error">Medium is
                                required.</small>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="standard" class="block">Class/Standard</label>
                        <p-dropdown styleClass="w-full p-2" [options]="standards" formControlName="standard"
                            placeholder="Select the class" optionLabel="label" optionValue="value"></p-dropdown>
                        <div *ngIf="getStandardError">
                            <small *ngIf="form.get('standard')?.errors?.['required']" class="p-error">Class/Standard is
                                required.</small>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="favSubjects" class="block">Favoutire Subjects</label>
                        <p-autoComplete styleClass="profile-autocomplete" [forceSelection]="true"
                            formControlName="favSubjects" [suggestions]="filteredSubjects"
                            (completeMethod)="filterSubjects($event)" [multiple]="true" [showEmptyMessage]="true"
                            [unique]="true" field="label"></p-autoComplete>
                        <div *ngIf="getFavSubjectsError">
                            <small *ngIf="form.get('favSubjects')?.errors?.['required']" class="p-error">Favoutire
                                subjects
                                are
                                required.</small>
                        </div>
                    </div>
                </ng-container>
                <div class="field col-12 md:col-4">
                    <button [loading]="loading" [disabled]="form.invalid || !form.touched" pButton pRipple label="Update"
                        class="mb-2 w-full p-3 text-xl"></button>
                </div>

            </div>
        </form>
    </div>
</div>