<div class="grid add-quiz-container">
    <div class="col-12 md:col-12">
        <div class="card">
            <h5 class="mb-5">Create a Quiz </h5>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid p-formgrid grid">
                <div class="field field col-6 md:col-6">
                    <label htmlFor="title">Quiz Title</label>
                    <input id="title" formControlName="title" type="text" placeholder="Enter title" pInputText
                        class="w-full">
                    <ng-container *ngIf="showTitleError">
                        <small *ngIf="form.get('title')?.errors?.['required']" class="block p-error">This field is
                            required.</small>
                    </ng-container>
                </div>
                <div class="field field col-6 md:col-6">
                    <label htmlFor="type">Quiz Type</label>
                    <p-dropdown placeholder="Select question type" formControlName="type" [options]="types"
                        optionLabel="label" optionValue="value" (onChange)="quizTypeChanged($event)"></p-dropdown>
                    <ng-container *ngIf="showTypeError">
                        <small *ngIf="form.get('type')?.errors?.['required']" class="block p-error">This field is
                            required.</small>
                    </ng-container>
                </div>
                <div class="field col-12 md:col-12">
                    <label htmlFor="description">Description</label>
                    <textarea rows="5" cols="30" pInputTextarea formControlName="description"
                        class="noresize"></textarea>
                    <ng-container *ngIf="showDescriptionError">
                        <small *ngIf="form.get('description')?.errors?.['required']" class="block p-error">This field is
                            required.</small>
                    </ng-container>
                </div>
                <div class="field col-12 md:col-12">
                    <label htmlFor="title">Add Questions</label>
                    <div class="card" #questionItem>
                        <p-pickList [showSourceControls]="false" [showTargetControls]="false"  sourceFilterPlaceholder="Search by question or tags"
                            targetFilterPlaceholder="Search by question or tags" filterBy="question,tags"
                            [source]="questions" [target]="selectedQuestions" sourceHeader="Questions"
                            targetHeader="Selected Questions" [dragdrop]="true" [responsive]="true"
                            [sourceStyle]="{'height':'250px'}" [targetStyle]="{'height':'250px'}">
                            <ng-template pTemplate="sourceHeader">
                                <app-question-filters></app-question-filters>
                            </ng-template>
                            <ng-template let-data pTemplate="item">
                                <div (click)="op.toggle($event)" class="flex flex-column align-items-center sm:align-items-start gap-2">
                                    <span>{{data.question}}</span>
                                    <div class="flex flex-row align-items-center sm:align-items-start gap-2">
                                        <p-tag icon="pi pi-tag" [value]="tag" severity="info" *ngFor="let tag of data.tags"></p-tag>
                                        <p-tag icon="pi pi-hashtag" [value]="data.marks" severity="error"></p-tag>
                                        <p-tag icon="pi pi-bolt" [value]="data.type" severity="warning"></p-tag>
                                    </div>
                                </div>
                                <p-overlayPanel [appendTo]="questionItem" styleClass="question-info" #op>
                                    <ng-template pTemplate="content">
                                        <div class="flex flex-column xl:flex-row xl:align-items-start gap-4">
                                          <span [innerHTML]="data.question"></span>
                                        </div>
                                    </ng-template>
                                </p-overlayPanel>
                            </ng-template>
                        </p-pickList>
                    </div>
                    <ng-container *ngIf="showQuestionsError">
                        <small class="block p-error">Please add alteast 5 questions</small>
                    </ng-container>
                </div>
                <div class="flex flex-wrap gap-2">
                    <button type="Submit" pButton pRipple label="Submit" class="mb-2 md:w-10rem"></button>
                </div>
            </form>
        </div>
    </div>
</div>