<div class="grid tags-container">
    <div class="col-12 table-container">
        <p-toolbar styleClass="mb-4 gap-2">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="showAddTagDialog()"></button>
                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" [disabled]="!selectedTags || !selectedTags.length" (click)="showDeleteConfirmation(selectedTags)"></button>
            </ng-template>
        </p-toolbar>
        <p-table #dt responsiveLayout="scroll" [scrollable]="true" scrollHeight="flex" [loading]="loadingTags" loadingIcon="pi pi-spin pi-spinner" [value]="tags" [rows]="10" [paginator]="true" [globalFilterFields]="['name', 'description']"
            [(selection)]="selectedTags" [rowHover]="true" dataKey="uid"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h5 class="m-0">Manage Tags</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="filterTags(dt, $event)" placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tag>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="tag"></p-tableCheckbox>
                    </td>
                    <td>{{ tag.name }}</td>
                    <td>{{ tag.description }}</td>
                    <td>
                        <div class="flex flex-wrap gap-2">
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded"
                                (click)="showEditDialog(tag)"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                class="p-button-rounded p-button-danger" (click)="showDeleteConfirmation([tag])"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="showDialog" header="Edit Tag" [modal]="true" [draggable]="false" styleClass="p-fluid">
    <div class="grid tags-container">
        <div class="col-12 md:col-12">
            <div class="card p-fluid">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="field">
                        <label htmlFor="name">Name</label>
                        <input id="name" formControlName="name" type="text" placeholder="Enter name" pInputText
                            class="w-full">
                        <ng-container *ngIf="showNameError">
                            <small *ngIf="form.get('name')?.errors?.['required']" class="p-error">This field is
                                required.</small>
                        </ng-container>
                    </div>
                    <div class="field">
                        <label htmlFor="description">Description</label>
                        <input id="description" formControlName="description" type="text"
                            placeholder="Enter description" pInputText class="w-full">
                        <ng-container *ngIf="showDescriptionError">
                            <small *ngIf="form.get('description')?.errors?.['required']" class="p-error">This field is
                                required.</small>
                        </ng-container>
                    </div>
                    <div class="field mt-4">
                        <button type="Submit" [loading]="loading" [disabled]="form.invalid" pButton pRipple
                            label="Submit"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</p-dialog>